 <ul class="contact-info">
 <li class="phone"><a href="tel:(+64)278418623"> 0278418623 </a><li>
          <li class="facebook"><a href="https://www.facebook.com/messages/campbell.hawkes">Message Me on Facebook</a></li>
          <li class="mail"><a href="mailto:mr.campbell.hawkes@gmail.com">mr.campbell.hawkes@gmail.com</a></li>