
      <div id="profile">
        <ul id="bio">
          <li><p class="bio">I'm Campbell; a New Zealand citizen with aspirations in web design. This is (evidently) a project site, within which I will be experimenting through the course of <a href="http://devacademy.co.nz/"> Enspiral Dev Academy's "Dev Bootcamp"</a> course and beyond. Watch this space!</p> </li>
          <li>  <%= image_tag "BnWsquare.jpg", class:"profile_pic" %>
          	<!-- <alt="Campbell's Profile Image" class="profile_pic"> -->
          </li>
      </div>
