
    <div id="wrapper">
      <section>
        <p> A short collection of images </p>
        <ul id="gallery">
          <li><a href="img/Frontflip.jpg" alt="">
            <%= image_tag("Frontflip.jpg", alt: "Image: Campbell Hawkes, Mt Hutt, New Zealand") %>
            <!-- <img src="img/Frontflip.jpg" alt="Skier: Campbell Hawkes"> -->
            <p>Skier: Campbell Hawkes
            Image Credit: Angus Ward
            Location: Mt Hutt, NZ</p></a>
          </li>
            <li><a href="img/Flatfive.jpg"><%= image_tag("Flatfive.jpg", alt: "Image: Campbell Hawkes, Mt Hutt, New Zealand") %><p>Skier: Campbell Hawkes 
            Image Credit: Chris McLean
            Location: Mt Hutt, NZ</p></a>
          </li>
          <li><a href="img/JNATScliff.jpg"><%= image_tag("JNATScliff.jpg", alt: "Image: Campbell Hawkes, Cardrona, New Zealand")  %><p>Skier: Campbell Hawkes 
          Credit: Chris Burrel-Smith
          Location: Cardrona, NZ</p></a></li>
        </ul>
      </section>
    </div>  