    <div id="wrapper" style="text-align: center">
      <div class="left">
        <p id="brief">Email contact is preferred, though urgent matters are best discussed by phone. Please only contact me via facebook if I actually know you; this is available merely as reference.</p>      
      </div>
      <div class="right">  <ul class="contact-info">
          <li class="phone"><a href="tel:(+64)278418623"> 0278418623 </a><li>
          <li class="facebook"><a href="https://www.facebook.com/messages/campbell.hawkes">Message Me on Facebook</a></li>
          <li class="mail"><a href="mailto:mr.campbell.hawkes@gmail.com">mr.campbell.hawkes@gmail.com</a></li>
        <form method="post" action="/contact">
          <fieldset class="form">
            <legend>Send us a message</legend>
            <div class="form-group">
              <label for="message">Message</label> <br>
              <textarea id="message" name="message" class="form-control"></textarea>
              <input type="submit" value="Send" class="button" id="submit">
            </div>
          </fieldset>

          <%= render 'form' %>
        </form>

      </div>
    
    </div> 